* {
	user-select: none;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#builder_deck_list_cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-self: center;
	/* margin: 0 25px;  */
	overflow: hidden;
}

.builder_deck_list_card {
	/* width: 100px; */
	height: 140px;
	margin: 10px 10px;
}

.builder_deck_list_card img {
	/* width: 100%; */
	height: 100%;
}

/* text with black outline */
.builder_deck_list_card_amount {
	font: 20px calibri;
	font-weight: bold;
	position: relative;
	color: white;
	text-shadow: 0 0 5px black;
	/* transform: translate(800%, -325%); */
	pointer-events: none;
	bottom: 77px;
	left: 81px;
}

.builder_deck_list_card_amount_flip {
	font: 20px calibri;
	font-weight: bold;
	position: relative;
	color: white;
	text-shadow: 0 0 5px black;
	/* transform: translate(1700%, -335%); */
	pointer-events: none;
	bottom: 79px;
	left: 174px;
}

.builder_deck_list_card_amount_gear {
	font: 20px calibri;
	font-weight: bold;
	position: relative;
	color: white;
	text-shadow: 0 0 5px black;
	/* transform: translate(1700%, -335%); */
	pointer-events: none;
	bottom: 96px;
	left: 81px;
}

/* make the card list into a flex box */
#card_list_cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

/* Make all images withing card_list_cards take up the less space without editing image height */
#card_list_cards img {
	max-height: 200px;
	margin: 20px;
}

/* pastel red body background color */
body {
	background-color: #b8b8b8;
	/* margin: 0; */
	/* overflow-y: hidden; */
}

/* Card overlay to display the card to see easier */
#card_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/* width: 100vw; */
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: auto;
}

/* Card overlay to display the card to see easier */
#card_overlay img {
	/* display: block; */
	/* position: absolute; */
	/* top: 5%;
	left: 50%;
	transform: translate(-50%, 0%);
	/* max-width: 80%; */
	/* max-width: 60%;
    height: 40%;
    object-fit: contain; */
	max-width: 50%;
    max-height: 70%;
    object-fit: contain;
}

#card_overlay #card_overlay_amount {
	/* position: absolute;
	top: 63%;
	left: 50%; */
	/* transform: translate(-50%, -50%); */
	color: rgb(255, 255, 255);
	padding-top: 10px;
}

/* #card_overlay #card_overlay_buttons { */
	/* position: absolute;
	top: 68%;
	left: 50%;
	transform: translate(-50%, -50%); */
/* } */

.svgImg {
	width: 40px;
	padding: 3px;
}

/* #brawl_ui { */
	/* height: 97vh; */
/* } */

.brawl_row {
	/* height: calc(100vh / 3); */
	/* height: 30%; */
	/* overflow: auto; */
	display: flex;
	justify-content: center;
}

.row2 {
	justify-content: space-between;
}

#brawl_deck_column {
	display: flex;
	width: 40%;
    /* justify-content: center; */
}

#brawl_hero_column {
	width: 40%;
	display: flex;
	flex-direction: row-reverse;
    flex-wrap: nowrap;
    overflow: auto;
	justify-content: flex-start;
}

#brawl_hand_column {
	width: 50%;
	display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
	justify-content: flex-start;
	padding-bottom: 10px;
}

/* #brawl_hand_column img {
	margin: auto 0;
} */

#brawl_bottom_row  {
	/* height: auto; */
    position: relative;
    /* bottom: 0; */
    width: 100%;
	/* height: 30%; */
	/* padding-bottom: 5px;; */
}

#brawl_character_column {
	display: flex;
	width: 42%;
    justify-content: center;
	padding-bottom: 10px;
}

.brawl_cardimg {
	/* height: calc(75vh / 3); */
	/* height: calc(80vh / 3); */
	height: 110px;
	/* height: 110px; */
	/* margin: auto 0; */
	padding: 3px;
}

.brawl_character_1, 
.brawl_character_2, 
.brawl_character_3 {
	
	height: 110px;
}
.brawl_character_2 {
	position: absolute;
    bottom: -6px;
	z-index: -1;
}
.brawl_character_3 {
	position: absolute;
    bottom: -25px;
	z-index: -2;
}

#brawl_deck_total {
    color: white;
    font-size: 35px;
    font-weight: bold;
	/* margin: 0 auto; */
	/* height: 110px; */
	padding: 3px;
	text-align: center;
	pointer-events: none;
}

/* Energy */

#brawl_energy {
	margin: auto;
}

.energy_button {
	display: block;
	width: 100%;
}

.energy_label {
	margin: auto;
	padding-top: 5px;
	text-align: center;
	font-weight: bold;
}

.energy_aside_container {
	padding: 10px;
}

#energy_container {
	display: flex;
}

.energy_val {
	margin: auto 0;
	padding-right: 5px;
	font-weight: bold;
}

#energy_title {
	text-align: center;
	font-weight: bold;
}

.energy_upper {
	display: flex;
	justify-content: center;
}



#brawl_deck {
	position: absolute;
    z-index: -1;
}

.brawl_faction {
	position: absolute;
    width: 58px;
    padding: 3px;
}

.faction_container {
	position: relative;
	display: flex;
	justify-content: center;
	pointer-events: none;
}

#brawl_header {
	display: flex;
}

#brawl_header_start {
	display: flex;
	width: 50%;
}

#brawl_header_end {
	display: flex;
	width: 50%;
}
#brawl_header_end button, #brawl_header_start button {
	margin: auto 5px;
}

/* Card overlay to display the card to see easier */
#brawl_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: auto;
}


#brawl_overlay_image {
	/* display: block; */
	/* position: absolute;
	top: 50%;
	left: 50%; */
	/* transform: translate(-50%, -50%); */
	/* max-height: 60%; */
	max-width: 50%;
    max-height: 70%;
    object-fit: contain;
}

#brawl_overlay_buttons {
	/* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	/* transition: left 0.3s ease-in-out, opacity 0.5s ease-in-out; */
	/* transition: opacity 0.5s ease-in-out; */
	margin: 5px;
	/* opacity: 0; */
	z-index: -1;
	pointer-events: none;
}

#discard_overlay {
	width: 100%;
    display: flex;
    flex-direction: column;
	align-items: center;
}

#discard_overlay_cards {
	max-width: 90%;
	overflow-x: scroll;
	display: flex;
	align-items: center;
}

#discard_overlay_menu {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#discard_overlay_menu * {
	margin: 5px;
	font-size: 20px;
}

#discard_overlay_title {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 30px;
	text-align: center;
}
#discard_overlay_cards img {
	object-fit: contain;
	/* height: 180px; */
	height: 40vh;
	padding: 3px;
}

#brawl_overlay_buttons button, #brawl_overlay_buttons div, #brawl_overlay_buttons input {
	margin: 10px;
	display: block;    
	font-weight: bold;
    font-size: 20px;
	white-space: nowrap;
	pointer-events: all;
}

button {
	color: black;
	background-color: white;
	border: 2px solid #555555;
	border-radius: 10px;
	/* padding: 15px 32px; */
	text-align: center;
	/* text-decoration: none; */
	display: inline-block;
	font-size: 17px;
	font-weight: 600;
	margin: 4px 2px;
}

#brawl_title {
	margin: auto 0;
	font-weight: bold;
}

.enemy_hero {
	border: 3px solid red;
	padding: 0;
}

#brawl_batch {
	overflow: auto;
}

.overlay_cc {
    max-width: 25vw;
    max-height: 55vh;
    object-fit: contain;
	padding: 3px;
}

#character_container {
	width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

/* media query if less than 580 px */
@media screen and (max-width: 580px) {
	.row2 {
		flex-direction: column;
		align-items: center;
	}
	#brawl_batch, #brawl_deck_column, #brawl_hand_column, #brawl_character_column, #brawl_hero_column {
		width: 100%;
		justify-content: flex-start;
		flex-direction: unset;
	}
	#brawl_character_column {
		justify-content: center;
	}
	#brawl_energy {
		margin-left: auto;
		margin-right: 0;
	}

	#brawl_overlay_image, #card_overlay img {
		max-width: 70%;
		max-height: 50%;
	}

	#brawl_overlay {
		flex-direction: column;
	}
	#brawl_overlay_buttons {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}